body {
	font-family: helvetica neue, helvetica, liberation sans, arial, sans-serif;
	font-size: 14px;
}

#cy {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	z-index: 999;
}

/* makes sticky faster; disable if you want animated tippies */
.tippy-popper {
	transition: none !important;
}

.fullscreen {
	width: 100%;
	height: 400px;
	background-color: white;
}
